{% extends 'layouts/default_skeleton.twig' %}

{% set pageId = 'index' %}

{% block title %}{{ "cms.title"|trans }} - {{ "site.configuration"|trans }}{% endblock %}

{% block content %}
    dashboard render
{% endblock %}
