{% extends 'layouts/default_skeleton.twig' %}

{% block content %}
    <div class="row mt-5">
        <div class="col-md-6 full-col-logo">
            {% block col1 %}
                <div class="m-5">
                    <img 
                        class="img-fluid rounded-circle"
                        alt="Berryade Management System"
                        src="{{ cms.url }}ba-core/resources/images/common/berryade_logo.jpg?{{ cms.version }}" />
                </div>
            {% endblock %}
        </div>
        <div class="col-md-6">
            {% block col2 %}{% endblock %}
        </div>
    </div>
{% endblock %}