<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Berryade CMS{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        
        <link
            rel="apple-touch-icon-precomposed"
            sizes="57x57"
            href="{{ cms.url }}ba-core/resources/favicon/apple-touch-icon-57x57.png?{{ cms.version }}" />

        <link
            rel="apple-touch-icon-precomposed"
            sizes="114x114"
            href="{{ cms.url }}ba-core/resources/favicon/apple-touch-icon-114x114.png?{{ cms.version }}" />

        <link
            rel="apple-touch-icon-precomposed"
            sizes="72x72"
            href="{{ cms.url }}ba-core/resources/favicon/apple-touch-icon-72x72.png?{{ cms.version }}" />

        <link
            rel="apple-touch-icon-precomposed"
            sizes="144x144"
            href="{{ cms.url }}ba-core/resources/favicon/apple-touch-icon-144x144.png?{{ cms.version }}" />
        
        <link
            rel="apple-touch-icon-precomposed"
            sizes="120x120"
            href="{{ cms.url }}ba-core/resources/favicon/apple-touch-icon-120x120.png?{{ cms.version }}" />
        
        <link
            rel="apple-touch-icon-precomposed"
            sizes="152x152"
            href="{{ cms.url }}ba-core/resources/favicon/apple-touch-icon-152x152.png?{{ cms.version }}" />
        
        <link
            rel="icon"
            type="image/png"
            href="{{ cms.url }}ba-core/resources/favicon/favicon-32x32.png?{{ cms.version }}"
            sizes="32x32" />

        <link
            rel="icon"
            type="image/png"
            href="{{ cms.url }}ba-core/resources/favicon/favicon-16x16.png?{{ cms.version }}"
            sizes="16x16" />

        <meta
            name="application-name"
            content="Berryade CMS" />

        <meta
            name="msapplication-TileColor"
            content="#FFFFFF" />

        <meta
            name="msapplication-TileImage"
            content="{{ cms.url }}ba-core/resources/favicon/mstile-144x144.png?{{ cms.version }}" />

        <link
            rel="stylesheet"
            type="text/css"
            href="{{ cms.url }}ba-core/resources/css/application.css?{{ version }}" />

        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Baloo+Bhaina|Roboto+Condensed" />

    </head>

    <body>
        {% for error in errors %}
            <div class="container">
                <div class="alert alert-danger alert-dismissible fade show mt-1" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>Error: </strong>{{ error.message }}
                </div>
            </div>
        {% endfor %}

        <div id="{{ pageId | default('berryade-page') }}" class="berryade-page {{ (margins) ? 'container' : 'container-fluid' }}">
            {% block content %}{% endblock  %}
        </div>

        <footer class="row mt-4">
            <div class="col-md-12">
                <p class="text-right mr-4">Berryade CMS - &copy; Inkberry Creative - 2017</p>
            </div>
        </footer>

        <script
            type="text/javascript"
            src="{{ cms.url }}ba-core/resources/js/application.js?{{ cms.version }}"></script>
    </body>
</html>