{%- block form_row -%}
    {% if compound %}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    {% else %}
        <div class="row{% if not valid %} has-danger{% endif %}">
            <div class="col text-right">
                {{ form_label(form) }}:&nbsp;
            </div>
            <div class="col-6 col-sm-8 col-md-10">
                {{ form_widget(form) }}
            </div>
        </div>
        {%- if not valid -%}
            <div class="row">
                <div class="col">
                    &nbsp;
                </div>
                <div class="col-6 col-sm-8 col-md-10">
                    {{ form_errors(form) }}
                </div>
            </div>
        {% endif %}
    {% endif %}
{%- endblock form_row -%}
