{% extends 'layouts/default_skeleton.twig' %}

{% set pageId = 'setup' %}

{% block title %}{{ "cms.title"|trans }} - {{ "site.configuration"|trans }}{% endblock %}

{% block content %}
    <div class="jumbotron mt-4">
        <h1 class="hidden-xs-down display-3">{{ "site.configuration"|trans }}</h1>
        <p class="lead">{{ "site.configuration.not.found"|trans }}</p>

        <hr class="my-4">

        <p>{{ "site.configuration.wizard"|trans }}</p>

        {{ form_start(form, { 'attr': { 'novalidate': '' } }) }}
            <p class="lead">
                {{
                    form_widget(form.retry, {
                        'attr': {
                            'class': 'btn berryade-btn-primary btn-lg mr-2'
                        }
                    })
                }}
                {{
                    form_widget(form.wizard, {
                        'attr': {
                            'class': 'btn berryade-btn-secondary btn-lg'
                        }
                    })
                }}
            </p>
        {{ form_end(form) }}
    </div>
{% endblock %}
