{% extends 'layouts/default_skeleton.twig' %}

{% set pageId = 'setup' %}

{% block title %}{{ "cms.title"|trans }} - {{ "site.wizard.title"|trans }}{% endblock %}

{% form_theme form _self %}
{% form_theme form.mysql 'layouts/field_table.twig' %}

{% block content %}
    <div class="jumbotron mt-4">
        <h1 class="hidden-xs-down display-3">{{ "site.wizard.title"|trans }}</h1>

        {{ form_start(form, { 'attr': { 'novalidate': '' } }) }}
            <div class="card mt-4">
                <div class="card-block">
                    <h4 class="card-title">
                        <i class="fa fa-play mr-2" aria-hidden="true"></i>
                        {{ form_label(form.test) }}
                    </h4>
                    <div class="card-text">
                        {{ form_row(form.test, { 'label' : false }) }}
                    </div>
                </div>
            </div>

            <div class="card mt-4">
                <div class="card-block">
                    <h4 class="card-title">
                        <i class="fa fa-globe mr-2" aria-hidden="true"></i>
                        {{ form_label(form.locale) }}
                    </h4>
                    <div class="card-text">
                        {{ form_row(form.locale, { 'label' : false }) }}
                    </div>
                </div>
            </div>

            <div class="card mt-4">
                <div class="card-block">
                    <h4 class="card-title">
                        <i class="fa fa-database mr-2" aria-hidden="true"></i>
                        MySQL
                    </h4>
                    <div class="card-text">
                        {{ form_row(form.mysql, { 'label' : false }) }}
                    </div>
                </div>
            </div>

            <hr />

            <p class="lead">
                {{
                    form_widget(form.cancel, {
                        'attr': {
                            'class': 'btn berryade-btn-secondary btn-lg mr-2'
                        }
                    })
                }}
                {{
                    form_widget(form.save, {
                        'attr': {
                            'class': 'btn berryade-btn-primary btn-lg'
                        }
                    })
                }}
            </p>
        {{ form_end(form) }}
    </div>
{% endblock %}
