{% extends 'layouts/2col.twig' %}

{% set pageId, margins = 'error-fatal', true %}

{% block title %}Berryade - 404 Not Found{% endblock %}

{% block col2 %}
    <h1 class="pt-2">404 Page Not Found</h1>
    {% if path is defined %}
        <p>Sorry, we could not find the page '{{path|default("test")}}'.</p>
    {% endif %}
{% endblock %}