{% extends 'layouts/2col.twig' %}

{% set pageId, margins = 'error-fatal', true %}

{% block title %}Berryade - Fatal Error{% endblock %}

{% block col2 %}
    <h1 class="pt-2">Fatal Error</h1>
    <p class="bg-danger text-white p-2">{{ message | default('Unknown Error') }}</p>
    <hr />
    <p>This message has been reported to the technical team.</p>
{% endblock %}